@page "/courses"
@using Frontend.Client.Models
@attribute [StreamRendering]



<PageTitle>Courses</PageTitle>

<section class="courses">
    <div class="container">
        <h1>Courses</h1>
        <div class="header">
            <form id="form-filters">
                <select>
                    <option>All categories</option>
                </select>
                <div class="input-search-group">
                    <input id="searchQuery" name="searchQuery" placeholder="Search courses" />
                </div>
            </form>
        </div>

        <div class="course-items">
            @if (courses == null)
            {
                <p><em>No courses found yet. Please wait...</em></p>
            }
            else
            {
                @foreach (var course in courses)
                {
                    <a class="course" asp-action="Details" asp-controller="Courses" asp-rout-id="@course.Id">
                        @if (course.IsBestseller)
                        {
                            <div class="bestseller">Best Seller</div>
                        }

                        <button class="btn btn-circle bookmark"><i class="fa-regular fa-bookmark"></i> </button>

                        <img src="~/images/courses/@course.ImageUri" alt="@course.Title" />

                        <div class="content">
                            <h5 class="title">@course.Title</h5>
                            <p class="author">By @course.Author</p>
                            <div class="pricing">
                                @if (!string.IsNullOrEmpty(course.DiscountPrice))
                                {
                                    <div class="discount">@course.DiscountPrice</div>
                                }
                                <div class="price @(!string.IsNullOrEmpty(course.DiscountPrice)? "discount-enabled" : "")">@course.Price</div>
                            </div>
                            <div class="footer">
                                <div class="hours">
                                    <i class="fa-regular fa-clock"></i> @course.Hours hours
                                </div>
                                <div class="likes">
                                    <i class="fa-regular fa-thumbs-up"></i> @course.LikesInProcent (@course.LikesInNumbers)
                                </div>
                            </div>
                        </div>
                    </a>
                }
            }

           
        </div>

    </div>
</section>

@code {
    private List<CourseModel>? courses;

    protected override async Task OnInitializedAsync()
    {
        var query = new GraphQlQuery { Query = "{getCourses { id isBestseller imageUri title authors {name} prices {price currency discount} hours likesInProcent likes}}" };
        var response = await Http.PostAsJsonAsync("http://localhost:7037/api/graphql", query);

        if (response.IsSuccessStatusCode)
        {
            var result = await response.Content.ReadFromJsonAsync<DynamicGraphQLResponse>();
            courses = result?.Data.GetProperty("getCourses").EnumerateArray()
                .Select(courses => new CourseModel
                    {
                        Id = courses.GetProperty("id").GetString(),
                        IsBestseller = courses.GetProperty("isBestseller").GetBoolean(),
                        ImageUri = courses.GetProperty("imageUri").GetString(),
                        Title = courses.GetProperty("title").GetString(),
                        Author = courses.GetProperty("authors").GetArrayLength() > 0
                         ? courses.GetProperty("authors")[0].GetProperty("name").GetString()
                         : "Unknown",
                        Price = $"{courses.GetProperty("prices").GetProperty("currency").GetString()} {courses.GetProperty("prices").GetProperty("price").GetDouble()}",
                        DiscountPrice = courses.GetProperty("prices").GetProperty("discount").GetDouble() > 0
                        ? $"{courses.GetProperty("prices").GetProperty("currency").GetString()} {courses.GetProperty("prices").GetProperty("price").GetDouble() - courses.GetProperty("prices").GetProperty("discount").GetDouble()}"
                        : null,
                        Hours = courses.GetProperty("hours").ToString(),
                        LikesInProcent = courses.GetProperty("likesInProcent").GetString(),
                        LikesInNumbers = courses.GetProperty("likes").GetString()


                    })
                .ToList();
        }
    }


  

    private class CourseModel
    {
        public string? Id { get; set; } = null!;

        public bool IsBestseller { get; set; }

        public string? ImageUri { get; set; } 

        public string? Title { get; set; }

        public string? Author { get; set; } = null!;

        public string? Price { get; set; } = null!;

        public string? DiscountPrice { get; set; }

        public string? Hours { get; set; } = null!;

        public string? LikesInProcent { get; set; } = null!;

        public string? LikesInNumbers { get; set; } = null!;
    }


}
